<footer class="sticky-footer mt-2">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © Fábrica de Código 2018</span>
    </div>
  </div>
</footer>
